/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3e3e3e;
  --ifm-color-primary-dark: #383838;
  --ifm-color-primary-darker: #353535;
  --ifm-color-primary-darkest: #2b2b2b;
  --ifm-color-primary-light: #444444;
  --ifm-color-primary-lighter: #474747;
  --ifm-color-primary-lightest: #515151;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #74a4bc;
  --ifm-color-primary-dark: #5f97b2;
  --ifm-color-primary-darker: #5590ad;
  --ifm-color-primary-darkest: #457790;
  --ifm-color-primary-light: #89b1c6;
  --ifm-color-primary-lighter: #93b8cb;
  --ifm-color-primary-lightest: #b2ccda;
}
